In [1]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

# 1.) Create a list of tuples, where each tuple is a pair (name,country), using comprehensions

# 2.) Implement a for loop to count how many peruvian there are in the data frame. 

# 3.) Implement a for loop to get the count of men. Try using not in one solution and ~ in another one.

In [32]:
#Create a dict from the following:

names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

import pandas as pd
list={'names':names, 'woman':woman, 'ages':ages, 'country':country,'eduction':education}
friends=pd.DataFrame.from_dict(list)
friends

     names  woman  ages  country eduction
0    Tomás  False    32    Chile     Bach
1  Pauline   True    33  Senegal     Bach
2    Pablo  False    28    Spain   Master
3    Bjork  False    30   Norway      PhD
4     Alan  False    32     Peru     Bach
5    Juana   True    27     Peru   Master

In [ ]:
# 1.) Create a list of tuples, where each tuple is a pair (name,country), using comprehensions

# 2.) Implement a for loop to count how many peruvian there are in the data frame. 

# 3.) Implement a for loop to get the count of men. Try using not in one solution and ~ in ano

In [33]:
#1
listofperuvians=[(n,c) for n,c in zip(friends.names,friends.country)]
listofperuvians

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [34]:
#2
peruvians=0

for country in friends.country:
    if country=='Peru':
        peruvians +=1
peruvians

2

In [37]:
#if you want to use a where() function to find the same thing: 
friends.where(friends.country=='Peru').dropna().shape[0]

2

In [42]:
#3a
counterofmen1=0
for man in friends.woman:
    if man!=True:
        counterofmen1 +=1
counterofmen1

4

In [38]:
#3b
counterofmen=0
for man in ~friends.woman:
    if man:
        counterofmen +=1
counterofmen

4