In [1]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [9]:
import pandas as pd
data={'name':names,'woman':woman,'ages':ages,'country':country,'education':education}
data

{'name': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [16]:
friends=pd.DataFrame.from_dict(data)
friends

      name  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [49]:
# Who is the oldest person in this group of friends
friends[friends.ages==max(friends.ages)].name

1    Pauline
Name: name, dtype: object

In [33]:
# How many people are 32?
len(friends[friends.ages==32])

2

In [37]:
# How many are not Peruvian? (use two different codes) <-Not sure if you wanted two unique codes or not but I only know how to use len to count so I used two lines of code and hope that is what you meant
Peru1=["Peru"]
len(friends[~friends.country.isin(Peru1)])

4

In [38]:
# Who is the person with the highest level of education?
friends[(friends.education==max(friends.education))].name

3    Bjork
Name: name, dtype: object

In [47]:
# what is the sex of the oldest person in the group
friends[friends.ages==max(friends.ages)].woman.name

'woman'