In [3]:
# where is the youngest male in the group from?

#a. Find the answer using sort_values()

#b. Do some research and find the answer using where() and min()

#c. Do some research and find the answer using query() and min()

In [1]:
import pandas as pd
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [2]:
data={'names':names,'woman':woman,'ages':ages,'country':country,'education':education}
data

{'names': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [3]:

friends=pd.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [7]:
friends[~friends.woman].sort_values("ages",ascending=True).head(1).country

2    Spain
Name: country, dtype: object

In [26]:
filter=friends['ages']==min(friends.ages)
filter

0    False
1    False
2    False
3    False
4    False
5     True
Name: ages, dtype: bool

In [ ]:
friends[~friends.woman].where()

In [59]:
friends.shape
#6=rows, 5=columns

(6, 5)

In [87]:
s=friends['ages']==min(friends.ages)

0    False
1    False
2    False
3    False
4    False
5     True
Name: ages, dtype: bool

In [88]:
friends.where(friends['ages'].min()).country

ValueError: Array conditional must be same shape as self

In [80]:
friends[~friends.woman].where()

  names  woman  ages country education
0   NaN    NaN   NaN     NaN       NaN
2   NaN    NaN   NaN     NaN       NaN
3   NaN    NaN   NaN     NaN       NaN
4   NaN    NaN   NaN     NaN       NaN