In [2]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

import pandas as pd
list={'names':names, 'woman':woman, 'ages':ages, 'country':country,'eduction':education}
friends=pd.DataFrame.from_dict(list)
friends

     names  woman  ages  country eduction
0    Tomás  False    32    Chile     Bach
1  Pauline   True    33  Senegal     Bach
2    Pablo  False    28    Spain   Master
3    Bjork  False    30   Norway      PhD
4     Alan  False    32     Peru     Bach
5    Juana   True    27     Peru   Master

In [ ]:
#Implement a for loop to get the count of men that have a Bach degree in the data frame. I recommend the use of zip (somwehere)
#Implement a for loop to get the count of people whose current age is an even number.

In [59]:
womedu=[(wom,edu) for wom,edu in zip(woman,education)]
womedu

[(False, 'Bach'),
 (True, 'Bach'),
 (False, 'Master'),
 (False, 'PhD'),
 (False, 'Bach'),
 (True, 'Master')]

In [58]:
#how do you refer to a specfic value in an embedded tuple? I want to do that to call out the "False" values and then

TypeError: list indices must be integers or slices, not tuple

In [ ]:
for value1 in womedu:
    if womedu==